/* Master Styles */
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Lucida Sans Unicode, sans-serif;
  background-color: green;
}

md-toolbar-row {
  justify-content: space-between;
}

p {
  margin: 16px;
}

[md-raised-button] {
  width: 100%;
}

md-grid-list {
  max-width: 1403px;
  margin: 16px;
}

md-sidenav-layout {
  height: 100vh;
}

md-sidenav {
  width: 100%;
}

.icon-20 {
  top: 50px;
  font-size: 20px;
}

.col-centered{
    float: none;
    margin: auto;
}

master-colors {
  color: #28B7FF;
  background-color: #FDE41A;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}