<div class="col-md-6 col-centered" style="padding-top:15px">
<md-card class="col-centered">
	<md-card-title>Update password</md-card-title>
	<md-card-subtitle>Choose a new password and you will be redirected to log back in</md-card-subtitle>
		<md-card-content>
		<div *ngIf="this._output" class="alert alert-danger">Invalid login credentials. Please try again.</div>

		<form #updatePasswordForm="ngForm" (ngSubmit)="updatePassword()">
			<div>
				<input type="password"
					class="form-control"
					placeholder="Password"
					minlength="8"
          maxlength="25"
					required
					[(ngModel)]="_updatePasswordData.password"
					name="email">
			</div><br>
			<div >
				<input type="password"
					class="form-control"
					placeholder="Password Confirmation"
					minlength="8"
          maxlength="25"
					required
					[(ngModel)]="_updatePasswordData.passwordConfirmation"
					name="password confirmation">
			</div>
			<md-card-actions class="auth-button">
				<button md-raised-button color="primary"
					type="submit"
					[disabled]="!updatePasswordForm.form.valid">Update password
				</button>
			</md-card-actions>
		</form>
	</md-card-content>
</md-card>
</div>
