.translations {
  margin: 0 0 1em 0;
  list-style-type: none;
  padding: 0;
  width: 95%;
  font-size: larger;		 
  align-self: center;
  font-size: large;
}

.translations li {
  cursor: pointer;
  position: relative;
  left: 2em;
  margin: .25em;
  padding: 0.3em 0.3em 0.3em 0;
  height: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-bottom:solid #DDD;
  border-bottom-width:0.2px;
}

.translations li:hover {
  background-color: #F2F2F2;
}
.translations .text {
  position: relative;
  top: 3px;
  left: 10%;
}

.selected {
  background-color: #F2F2F2;
 }
 
 .selected .text {
  background-color: #F2F2F2;
  left: 10%;
  font-weight: bold;
 }

 .button-box {
   position: absolute;
   right:10%;
 }

 .button1 {
   position: relative;
   top: -25px;
   font-size: 80%;
 }

 .button2 {
   position: relative;
   top: -25px;
   font-size: 80%;
 }
