<div class="col-md-12 col-centered" style="padding-top:15px">
    <md-card>
        <md-card-title>{{ _tokenService.currentUserData?.email | namePipe }}'s Dashboard </md-card-title>
        <md-card-content>
            <md-nav-list>
                <md-list-item>
                    <h3 md-line>
                        <span> Total words: </span>
                        <span> {{ translations?.length }} </span>
                    </h3>
                </md-list-item>
                </md-nav-list>
        </md-card-content>
    </md-card>
</div>
