<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="card card-block card-success card-inverse">
                <h4 class="card-title">{{ _tokenService.currentUserData?.email }} </h4>

                <div class="row current-user">
                    <div class="col-md-6">
                        <p><b>Translations:</b> {{ translations?.length }} </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
