.content-area {
  overflow: auto;
  height: 375px;
  padding: 0 2em 0 0
}

.search {
  left: 2em;
  width: 95%;
  margin: 1.5em 0 1.5em 0;
  font-size: medium;
}

#search-container {
  padding: 0em 3em 1em 1em;
  opacity: 1;
}

#translation-list-container {
  padding: 1em;
}
