.search {
  width: 25em;
  position: relative;
  height: 2.5em;
  left: 2em;
  margin: .25em;
  padding: 0.3em 0.3em 0.3em 0;
  width: 95%;
  align-self: center;
  height: 1.5em;
  margin: 1.5em 0 1.5em 0;
  font-size: medium;
}

#search-container {
  padding: 1em 1em 2em 1em;
  opacity: 1;
}

#translation-list-container {
  padding: 1em;
}
