<md-toolbar color="primary">
    <span>
      <img class="title" src="/public/assets/slova_logo_text_v2.png"/>
    </span>

    <div>
      <button md-icon-button [md-menu-trigger-for]="menu" color="accent">
        <md-icon>menu</md-icon>
      </button>

      <md-menu x-position="before" #menu="mdMenu">
        <button md-menu-item *ngIf="!_tokenService.currentAuthData" routerLink="/sign_in" routerLinkActive="active">Sign In</button>
        <button md-menu-item *ngIf="!_tokenService.currentAuthData" routerLink="/new_user" routerLinkActive="active">Register</button>
        <button md-menu-item *ngIf="_tokenService.currentAuthData" routerLink="/settings">Settings</button>
        <!--<button md-menu-item *ngIf="_tokenService.currentAuthData">Help</button>-->
        <button md-menu-item *ngIf="_tokenService.currentAuthData" routerLink="/sign_in" routerLinkActive="active" (click)="signOut()">Sign Out</button>
      </md-menu>
    </div>
  </md-toolbar>
