<div class="col-md-6 col-centered">
	<div class="card card-block">
		<h4>Reset Password</h4>

		<div *ngIf="this._output" class="alert alert-danger">We couldn't find that email. Please try again.</div>

		<form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword()">
			<div class="form-group">
				<label for="formGroupExampleInput">Email</label>
				<input type="text"
					class="form-control"
					placeholder="Email"
					required
					[(ngModel)]="_resetPasswordData.email"
					name="email">
			</div>
      <button
				type="submit"
				class="btn btn-primary"
				[disabled]="!resetPasswordForm.form.valid">Send Password Reset
			</button>
    </form>
  </div>
</div>