<div>
  <md-toolbar color="primary">
    <span>
      <md-icon class="icon-20">language</md-icon>
      {{ title }}
    </span>
    <button (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
    <button (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>

    <button md-icon-button *ngIf="auth.authenticated()" [md-menu-trigger-for]="menu">
      <md-icon>menu</md-icon>
    </button>

    <md-menu x-position="before" #menu="mdMenu">
      <button md-menu-item (click)="openUserSettings()">Settings</button>
      <button md-menu-item>Help</button>
    </md-menu>
  </md-toolbar>

  <app-nav *ngIf="auth.authenticated()"></app-nav>
  <router-outlet></router-outlet>
</div>



