<div class="search-box">
    <form #searchForm='ngForm' (ngSubmit)="translationSearch(searchForm.value)"  novalidate>
        <div class="form-group">
            <label for="searchInput"></label>
            <md-input type="text"
                placeholder="Search"
                name="search"
                #search='ngModel'
                required
                minlength="2"
                maxlening="49"
                [(ngModel)]="search.search">
            </md-input>
        </div>
        <div class="form-group">
            <label for="langInput"></label>
            <md-input type="text"
                placeholder="Lanuage (e.g. 'en')"
                name="target_lang"
                #target_lang='ngModel'
                required
                minlength="2"
                maxlength="2"
                [(ngModel)]="search.target_lang"
            ></md-input>
        </div>
        <button md-icon-button type="submit" class="search-button" [disabled]="!searchForm.form.valid">
            <md-icon class="material-icons">youtube_searched_for</md-icon>
        </button>
    </form>
    <br>
    <div *ngIf="yandexTranslation">
        <h4>{{ yandexTranslation._body }}</h4>
        <button md-icon-button (click)="saveTranslation(); searchForm.reset()">
            <md-icon class="material-icons">add_circle</md-icon>
        </button>
        <button md-icon-button (click)="cancelTranslation(); searchForm.reset()">
            <md-icon class="material-icons" color="accent">cancel</md-icon>
        </button>
    </div>
</div>


