<div class="col-md-6 col-centered">
	<div class="card card-block">
		<h4>Sign In</h4>

		<div *ngIf="this._output" class="alert alert-danger">Invalid login credentials. Please try again.</div>

		<form #signInForm="ngForm" (ngSubmit)="signIn()">
			<div class="form-group">
				<label for="formGroupExampleInput">Email</label>
				<input type="text"
					class="form-control"
					placeholder="Email"
					minlength="3"
                	maxlength="25"
					required
					[(ngModel)]="_signInData.email"
					name="email">
			</div>
			<div class="form-group">
				<label for="formGroupExampleInput">Password</label>
				<input type="password"
					class="form-control"
					placeholder="Password"
					minlength="8"
                	maxlength="25"
					required
					[(ngModel)]="_signInData.password"
					name="password">
			</div>
			<button
				type="submit"
				class="btn btn-primary"
				[disabled]="!signInForm.form.valid">Sign In
			</button>
			<button (click)="resetPassword()"
				type="button"
				class="btn btn-link">Forgotten Password?
			</button>
		</form>

	</div>
</div>