h2 {
    text-align: center;
}
button {
    
    background-color: #28B7FF;
    margin: 3em;
    color: white;
    height: auto;
    display: block;
    text-align: center; 
    float: none;
    margin: auto;
    border-top: 2em;
}


