<div *ngIf="!_tokenService.currentAuthData" class="container" style="text-align:center;">
    <h2>Welcome!</h2>

    <h4>Continue your language learning journey by registering for an account below.</h4>

    <a routerLink="/new_user" routerLinkActive="active">
        <button md-button color="primary" width="50%">
            Register
        </button>
    </a>
</div>

<div *ngIf="_tokenService.currentAuthData" class="container" style="text-align:center;">
    <h2>Welcome back, {{ _tokenService.currentUserData.email }}</h2>
</div>