<div *ngIf="!_tokenService.currentAuthData">
    <div style="background:transparent !important" class="jumbotron">
        <div>
            <h2>The last vocabulary tool you will ever need.</h2><br>
            <div class="button">
                <button type="button" class="btn btn-outline-primary" color="primary" routerLink="/new_user">Sign Up Today</button>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
        <div class="col-md-4">
            <h3>Translator</h3>
            <h4>Slova translates any word you need to learn. <br> And saves them so that you won't forget.</h4>
        </div>
        <div class="col-md-4">
            <h3>Tester</h3>
            <h4>Add up to 15 words to your test bank for review. <br> Set up notifications to let Slova remind you when it's time for review. </h4>
        </div>
        <div class="col-md-4">
            <h3>Tracker</h3>
            <h4>Moniter progress on your learning dashboard. <br> See how many words you've mastered, and how quickly you're making progress.</h4>
        </div>
        </div>
    </div>
</div>
