<div class="col-md-6 col-centered">
	<div class="card card-block">
		<h4 class="card-title" style="text-align:center">Your account</h4>
			<div class="alert alert-success" *ngIf="saveSuccess">
    			<strong>Success!</strong>
			</div>
			<form #userSettingsForm="ngForm" (ngSubmit)="saveUserSettings(userSettingsForm.value)">
				<div class="form-group">
						<label for="formGroupExampleInput">What is your NATIVE language?</label>
						<select [(ngModel)]="currentUser.native_lang"
							name="native_lang"
							class="form-control"
							placeholder="Native Language"
							required>
							<option *ngFor="let lang of langs" [(ngValue)]="lang.value">{{ lang.display }}</option>
						</select>
				</div>

				<div class="form-group">
						<label for="formGroupExampleInput">What language are you trying to learn?</label>
						<select [(ngModel)]="currentUser.target_lang"
							name="target_lang"
							class="form-control"
							placeholder="Target Language"
							required>
							<option *ngFor="let lang of langs" [(ngValue)]="lang.value">{{ lang.display }}</option>
						</select>
				</div>
				<button
						type="submit"
						class="btn btn-primary"
						[disabled]="!userSettingsForm.form.valid">Save
				</button>
			</form>
	</div>
</div>

