<div class="col-md-6 col-centered" style="padding-top:15px">
	<md-card class="col-centered">
		<md-card-title class="card-title" style="text-align:center">Your account</md-card-title>
		<md-card-content>
			<div class="alert alert-success" *ngIf="saveSuccess">
    			<strong>Success!</strong>
			</div>
			<form #userSettingsForm="ngForm" (ngSubmit)="saveUserSettings(userSettingsForm.value)">
				<div>
					<label for="formGroupExampleInput">What is your NATIVE language?</label>
					<select [(ngModel)]="currentUser.native_lang"
						name="native_lang"
						class="form-control"
						placeholder="Native Language"
						required>
						<option *ngFor="let lang of langs" [(ngValue)]="lang.value">{{ lang.display }}</option>
					</select>
				</div>
				<div>
						<label for="formGroupExampleInput">What language are you trying to learn?</label>
						<select [(ngModel)]="currentUser.target_lang"
							name="target_lang"
							class="form-control"
							placeholder="Target Language"
							required>
							<option *ngFor="let lang of langs" [(ngValue)]="lang.value">{{ lang.display }}</option>
						</select>
				</div>
				<md-card-actions class="auth-button">
					<button md-raised-button color="primary"
						type="submit"
						class="btn btn-primary"
						[disabled]="!userSettingsForm.form.valid">Save
					</button>
				</md-card-actions>
			</form>
		</md-card-content>
	</md-card>
</div>

